<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="explore">
        <ion-label>EXPLORE</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="chat">
        <ion-label>CHATS</ion-label>
        <ion-icon name="chatboxes"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="sell">
        <ion-label>SELL</ion-label>
        <ion-icon name="camera"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="myads">
        <ion-label>MY ADS</ion-label>
        <ion-icon name="albums"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
